*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

/* GENERALE */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
    margin: auto;
}

.w-65{
    width: 65%;
    margin: auto;
}

.h-100{
    height: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}

.button{
    background-color: royalblue;
    color: white;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    padding: 0 20px
}

h1{
    font-size: 60px;
}

h2{
    font-size: 35px;
}

.column{
    width: calc((100% / 3) - 30px);
}

.column.center{
    margin: 0 45px;
}
/* FINE GENERALE */

/* INIZIO header */
/* INIZIO nav */
header nav{
    height: 80px;
}

nav ul.dx, nav ul.sx{
    line-height: 80px;
}

nav li{
    display: inline;
}

nav ul.sx img{
    vertical-align: middle;
    padding-bottom: 10px;
}

nav ul.sx li{
    margin-left: 30px;
}

nav ul.dx{
    text-align: right;
}

nav ul.dx li{
    margin-right: 30px;
}
/* FINE nav */

/* INIZIO jumbo */
header .jumbo{
    background-color: #B4D0E7;
    max-height: 580px;
    padding-top: 90px;
}

.jumbo h1{
    margin-bottom: 30px;
}

.jumbo .f-left{
    width: 40%;
    padding-right: 50px;
}

.jumbo .f-right{
    width: 60%;
}

.jumbo .f-left p{
    margin-bottom: 30px;
}

.jumbo .f-left .button{
    margin-bottom: 10px;
}

.fa-arrow-down{
    font-size: 30px;
}
/* FINE jumbo */
/* FINE header */

/* INIZIO main */
main h2{
    margin-bottom: 30px;
}

/* INIZIO sezione piano di fatturazione */
section.piano{
    padding-top: 150px;
}

.fatturazione{
    margin-bottom: 30px;
}

section.piano .column{
    margin-bottom: 30px;
}

section.piano .contatta-ufficio{
    margin-bottom: 150px;
}
/* FINE sezione piano di fatturazione */
/* FINE main */

/* DEBUG */
.debug .w-80{
    background-color: lightgray;
}

.debug nav{
    background-color: lime;
}

.debug nav ul.dx,.debug nav ul.sx{
    background-color: red;
    border: 1px solid black;
}

.debug .jumbo .f-left, .debug .jumbo .f-right{
    background-color: crimson;
    border: 1px solid black;
}

.debug .column{
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 300px;
}

.debug section.piano{
    background-color: gray;
}

.debug .fatturazione{
    background-color: coral;
}

.debug .contatta-ufficio{
    background-color: coral;
    height: 200px;
}
/* FINE DEBUG */