*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALE */
body{
    font-family: 'Open Sans', sans-serif;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
    margin: auto;
}

.h-100{
    height: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}

.button{
    background-color: royalblue;
    color: white;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    padding: 0 20px
}
/* FINE GENERALE */

/* INIZIO header */
/* INIZIO nav */
header nav{
    height: 80px;
}

nav ul.dx, nav ul.sx{
    width: calc(100% / 3);
}
/* FINE nav */

/* INIZIO jumbo */
header .jumbo{
    background-color: #B4D0E7;
    max-height: 630px;
}

h1{
    font-size: 60px;
    padding: 90px 0 30px 0;
}

.jumbo .column.f-left{
    width: 40%;
    padding-right: 50px;
}

.jumbo .column.f-right{
    width: 60%;
}

.column.f-left p{
    margin-bottom: 30px;
}

.column.f-left .button{
    margin-bottom: 10px;
}

.fa-arrow-down{
    font-size: 30px;
}
/* FINE jumbo */
/* FINE header */

/* DEBUG */
.debug .w-80{
    background-color: lightgray;
}

.debug nav{
    background-color: lime;
}

.debug nav ul.dx,.debug nav ul.sx{
    background-color: red;
    border: 1px solid black;
}

.debug .column{
    background-color: cornflowerblue;
    border: 1px solid black;
}
/* FINE DEBUG */