*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

/* GENERALE */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
    margin: auto;
}

.w-65{
    width: 65%;
    margin: auto;
}

.h-100{
    height: 100%;
}

.h-50{
    height: 50%;
}

.h-10{
    height: 10%;
}

.centratura{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}

.button{
    background-color: royalblue;
    color: white;
    line-height: 35px;
    text-align: center;
    padding: 0 20px
}

.inline-block{
    display: inline-block;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

.column3{
    width: calc((100% / 3) - 30px);
    margin-bottom: 45px;
}

.column3> * {
    padding-bottom: 20px;
}

.column3.center{
    margin-right: 45px;
    margin-left: 45px;
}

img{
    vertical-align: middle;
}

.border-gray{
    border: 1px solid lightgray;
}

.bordino-grigio{
    border-bottom: 2px solid lightgray;
    width: 50px;
    margin: 30px 0;
}

.color-gray{
    color: gray;
}

.display-none{
    display: none;
}

.hover:hover + .display-none{
    display: block;
}

.hover:hover>.display-none{
    display: block;
}
/* FINE GENERALE */

/* INIZIO header */
/* INIZIO nav */
header nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    top: 0;
}

nav ul.dx, nav ul.sx{
    line-height: 80px;
}

nav li{
    display: inline-block;
}

nav ul.sx img{
    padding-bottom: 10px;
}

nav ul.sx li{
    margin-left: 30px;
}

nav ul.dx{
    text-align: right;
}

nav ul.dx>li{
    margin-right: 30px;
}

nav>ul.dx>li:first-child{
    width: 60px;
}

nav li.f-right{
    line-height: 50px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid lightgray;
}
/* FINE nav */

/* INIZIO jumbo */
header .jumbo{
    background-color: #B4D0E7;
    padding-top: 90px;
    margin-bottom: -80px;
}

.jumbo h1{
    margin-bottom: 30px;
}

.jumbo .f-left{
    width: 40%;
    padding-right: 50px;
}

.jumbo .f-right{
    width: 60%;
    margin-bottom: -50px;
}

.jumbo .f-left p{
    margin-bottom: 30px;
}

.jumbo .f-left .button{
    margin-bottom: 10px;
}

.fa-arrow-down{
    font-size: 30px;
}

.jumbo a{
    color: black;
}
/* FINE jumbo */
/* FINE header */

/* INIZIO main */
main h2{
    margin-bottom: 30px;
}

/* INIZIO sezione 1: piano di fatturazione */
section#piano{
    padding-top: 150px;
    margin-bottom: 150px;
}

.fatturazione{
    margin-bottom: 30px;
    line-height: 30px;
}

.fatturazione span{
    margin-right: 20px;
}

section#piano .cerchio{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 5px;
}

section#piano .cerchio.selezionato{
    border: 5px solid royalblue;
}

section#piano .top{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

section#piano .bottom{
    padding: 15px;
    font-size: 11px;
}

section#piano .bottom * {
    margin-bottom: 20px;
}

.fas.fa-check{
    color: royalblue;
}

section#piano .contatta-ufficio{
    margin-bottom: 150px;
}

section#piano .image.f-left{
    width: 50%;
}

section#piano>.f-right:last-child{
    width: 50%;
    padding: 30px;
}

section#piano>.f-right:last-child>*{
    margin-bottom: 20px;
}

section#piano>.f-right:last-child>.button{
    color: black;
    border: 2px solid black;
    background-color: white;
}
/* FINE sezione 1: piano di fatturazione */

/* INIZIO sezione 2: operazioni */
section#operazioni{
    margin-bottom: 100px;
}
/* FINE sezione 2: operazioni */

/* INIZIO sezione 3: teams */
section#teams .w-65{
    margin-bottom: 40px;
}

section#teams .f-left, section#teams .f-right{
    width: 30vw;
    height: 30vw;
}

section#teams .f-left.center{
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: rgb(230, 230, 230);
    padding: 50px;
    overflow-y: auto;
}

section#teams .f-left.center div:last-child{
    margin-top: 50px;
}

section#teams>.f-left>.f-left, section#teams>.f-right>.f-right{
    width: 50%;
    height: 50%;
    position: relative;
}

section#teams .centratura{
    filter: invert(1);
}

.bg1-sx{
    background-color: #A2D39B;
}

.bg2-sx{
    background-color: #61082B;
}

.bg3-sx{
    background-color: #0093CE;
}

.bg4-sx{
    background-color: #FF1C1C;
}

.bg1-dx{
    background-color: #B4D0E7;
}

.bg2-dx{
    background-color: #D5001F;
}

.bg3-dx{
    background-color: #FFD830;
}

.bg4-dx{
    background-color: #0D2481;
}
/* FINE sezione 3: teams */

/* INIZIO sezione 4: prova */
section#prova{
    background-color: #B4D0E7;
    margin-bottom: 150px;
}

section#prova>.w-65{
    padding: 150px 0;
}

section#prova .button{
    color: black;
    background-color: white;
}

section#prova h2{
    color: #61082B;
}
/* FINE sezione 4: prova */

/* INIZIO sezione 5: faq */
section#faq{
    margin-bottom: 150px;
}

section#faq h3{
    padding-bottom: 50px;
    border-bottom: 2px solid lightgray;
}

section#faq>h4{
    padding: 30px 0;
    border-bottom: 2px solid lightgray;
    position: relative;
}

section#faq>h4:hover{
    border-bottom: 0
}

#faq div{
    font-weight: 500;
    margin-top: 50px;
    border-bottom: 2px solid lightgray;
    padding-bottom: 30px;
}

section#faq i{
    position: absolute;
    right: 30px;
}
/* FINE sezione 5: faq */
/* FINE main */

/* INIZIO footer */
footer{
    background-color: black;
    color: white;
    padding-top: 100px;
}

footer .f-left{
    width: calc(100% / 5);
    margin-bottom: 100px;
}

footer .lingua{
    border-top: 2px solid gray;
    color: gray;
    line-height: 100px;
    font-size: 12px;
    width: 150px;
    height: 100px;
}

footer li{
    margin-bottom: 20px;
}

/* FINE footer */

/* DEBUG */
.debug .w-80{
    background-color: lightgray;
}

.debug nav{
    background-color: lime;
}

.debug .f-left{
    background-color: red;
}

.debug .f-right{
    background-color: blue;
}

.debug .column3{
    height: 300px;
}

.debug .w-65{
    background-color: gray;
}

.debug .fatturazione{
    background-color: coral;
}

.debug .contatta-ufficio{
    background-color: coral;
    height: 200px;
}

.debug .teams{
    background-color: burlywood;
}

.debug section.teams>.f-left>.f-left, .debug section.teams>.f-right>.f-right{
    border: 1px solid black;
}

.debug footer .f-left{
    border: 2px solid white;
}


.debug footer .lingua{
    background-color: lightgreen;
}
/* FINE DEBUG */